extends ../base
include ../mixins/video

block content
    form(method="GET").search__form
        input(type="text", placeholder="동영상 검색", name="video_keyword")
        button 
            i.fas.fa-search
    div.video-grid
        each video in videos 
            +video(video, group) 
        else 
            span.empty-message No videos found