.upload__container {
  width: 100%;
  .upload__video {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    video {
      max-width: 100%;
      margin-bottom: 10px;
    }
  }
}

.js-bg-disalbed {
  border: none !important;
  background-color: rgba(#7e7e7e, 0.3) !important;
  color: #8d8d8d !important;
  cursor: default !important;
}
