extends base


block content
    form(method="POST")
        input(type="text", name="name", value=(formValues ? formValues.name : user.name), placeholder="Name", required)
        if errorMessages && errorMessages.email
            span(style="color: red")=errorMessages.email
        input(type="email", name="email", value=(formValues ? formValues.email : user.email), placeholder="Email", required)
        if errorMessages && errorMessages.username
            span(style="color: red")=errorMessages.username
        input(type="text", name="username", value=(formValues ? formValues.username : user.username), placeholder="Username", required)
        input(type="text", name="location", value=(formValues ? formValues.location : user.location), placeholder="Location(Option)")
        input(type="submit", value="Update Profile")
        if !user.isGithubLogin
            a(href="change-password") Change Password &rarr;