extends base


block content
    form(method="POST")
        input(type="text", name="name", placeholder="Name", required)
        if errorMessages && errorMessages.email
            span=errorMessages.email
        input(type="email", name="email", value=(formValues && formValues.email ? formValues.email : ""), placeholder="Email", required)
        if errorMessages && errorMessages.username
            span=errorMessages.username
        input(type="text", name="username", value=(formValues && formValues.username ? formValues.username : ""), placeholder="Username", required)
        if errorMessages && errorMessages.password
            span=errorMessages.password
        input(type="password", name="password", placeholder="Password", required)
        input(type="password", name="password2", placeholder="Confirm Password", required)
        input(type="text", name="location", placeholder="Location", required)
        input(type="submit", value="Join") 