extends base


block content
    form(method="POST")
        if errorMessages && errorMessages.username
            span(style="color: red")=errorMessages.username
        input(type="text", name="username", value=(formValues ? formValues.username : ""), placeholder="Username", required)
        if errorMessages && errorMessages.password
            span(style="color: red")=errorMessages.password
        input(type="password", name="password", placeholder="Password", required)
        input(type="submit", value="Login")
    hr
    div 
        span Don't have an account? 
        a(href="/join") Join now &rarr;