extends ../base


block content
    form(method="post")
        if errorMessages && errorMessages.oldPassword
            span(style="color: red")=errorMessages.oldPassword
        input(type="password" name="oldPassword" placeholder="Old Password" required)
        if errorMessages && errorMessages.newPassword
            span(style="color: red")=errorMessages.newPassword
        input(type="password" name="newPassword" placeholder="New Password" required)
        input(type="password" name="newPassword2" placeholder="New Password Confirm" required)
        input(type="submit", value="Change Password")