extends ../base


block content
    form(method="POST")
        input(type="text", name="name", value=(formValues ? formValues.name : ""), placeholder="Name", required)
        if errorMessages && errorMessages.email
            span(style="color: red")=errorMessages.email
        input(type="email", name="email", value=(formValues ? formValues.email : ""), placeholder="Email", required)
        if errorMessages && errorMessages.username
            span(style="color: red")=errorMessages.username
        input(type="text", name="username", value=(formValues ? formValues.username : ""), placeholder="Username", required)
        if errorMessages && errorMessages.password
            span(style="color: red")=errorMessages.password
        input(type="password", name="password", placeholder="Password", required)
        input(type="password", name="password2", placeholder="Confirm Password", required)
        input(type="text", name="location", value=(formValues ? formValues.location : ""), placeholder="Location(Option)")
        input(type="submit", value="Join")
    hr
    div 
        span Already have an account? 
        a(href="/login") Log in now &rarr;