extends ../base
include ../mixins/video


block content
    div.profile__data
        if profileUser.avatarURL
            img(src=profileUser.avatarURL).avatar
        else
            div.avatar-default.js-avatar-default #{profileUser.name}
        h3=profileUser.name
    div.video-grid
        each v in profileUser.videos
            +video(v)
        else 
            span.empty-message No videos found



block scripts 
    script(src="/static/js/getFirstAlphabet.js") 